@import "tailwindcss";

@theme {
  --color-gold: #D4AF37;
  --color-gold-dark: #B08D26;
  --color-black-rich: #050505;
  --color-black-card: #0F0F0F;
  --color-white-off: #EDEDED;
  --color-gray-dark: #1A1A1A;

  --font-serif: var(--font-playfair);
  --font-sans: var(--font-lato);
}

:root {
  --background: #050505;
  --foreground: #EDEDED;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}